.navbar-brand{
	padding-top: 12px;
}

.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.hs-link-panel{
	float: right;
	padding: 0px;
}

.hs-Pdoadores-panel{
	float: left;
	padding-top: 2px;
}

